html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  /* font-size: 50pt; */
}
.main_container{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    /* background-color: black; */
}


.go_2019_speech_recognizer {
    width: 50%;
    height: 600px;
    float: left;
    word-wrap: break-word;
    font-size: 5em;
    /* text-shadow: 3px 2px blue; */
    padding: 50px 30px;
}

.go_2019_arena_map{
    margin-left: 50%;
    height: 600px;
    background-image:url('../images/arena_layout.png');
    background-repeat: no-repeat;
    padding: 50px 10px 10px 10px;
    width: 50%;
}
/* .go_2019_arena_map {
    width: 100%;
    height: 100%;
    float: left;
} */
