html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.main_container{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
    /* background-color: black; */
    border: 5px solid black;
}


.go_2019_speech_recognizer {
    max-width: 40%;
    height: 600px;
    float: left;
    word-wrap: break-word;
    font-size: 4em;
    /* text-shadow: 3px 2px blue; */
    /* border: 15px solid green; */
    padding: 50px 10px;
    margin: 0px 0px;
}

.go_2019_arena_map{
    margin-left: 40%;
    height: 600px;
    background-image:url('../images/arena_layout_modified.png');
    background-repeat: no-repeat;
    padding: 50px 10px 10px 10px;
    width: 55%;
}
