html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
}
#main{
    width: 100%;
    height: 100%;
    position: absolute;
}
#go_2019_arena_map{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    width: 50%;
    background-image:url('../images/arena_layout.png');
    background-repeat: no-repeat;
    padding: 50px 10px 10px 10px;
}
